<div class="flex flex-col bg-[#DEE5D4] h-screen">
    <div class="flex flex-col m-auto gap-2">
        <h1 class="flex text-2xl font-semibold items-center">Waduh! Halaman tidak ditemukan</h1>
        <img class="flex w-72 mx-auto" src="assets/waduh.png" alt="">
        <a href="/dashboard" class="flex m-auto bg-[#4B6D5F] px-4 py-2.5 rounded-lg text-sm text-gray-100 mt-4">Back to Dashboard</a>
    </div>
</div>

