<div class="flex w-auto h-auto bg-gray-400 justify-between items-center p-3">
  <h1 class="font-extrabold cursor-pointer">SCRUM.IN</h1>
  <a href="/signout" class="bg-slate-500 p-1 text-slate-100">Sign Out</a>
</div>
<div id="content" class="w-full h-screen flex items-center justify-center flex-col">
  <h3 class="text-2xl">You dont have any project</h3>
  <div id="dialog" class="flex items-center justify-between p-5 w-1/4">
    <a href="/join-existing" class="p-1 rounded-sm bg-blue-500 text-slate-200">Join Existing Project</a>
    <a href="/create-new" class="bg-slate-500 p-1 text-slate-100 rounded-sm">Create a New One</a>
  </div>
</div>