<h3 class="text-2xl">You dont have any project</h3>
<div id="dialog" class="flex items-center justify-between p-5 w-1/4">
  <a href="/project/join-existing" class="p-1 rounded-sm bg-blue-500 text-slate-200">Join Existing Project</a>
  <a href="/project/create-new" class="bg-slate-500 p-1 text-slate-100 rounded-sm">Create a New One</a>
</div>