<!-- Bagian yang mirip Navbar -->
<div class="flex flex-row w-full h-14 pt-3">
  <!-- Kiri -->
  <div class="flex flex-row w-4/5">
    <h1 class="pl-5 pt-2 text-xs font-medium">Dashboard</h1>
    <h1 class="pl-2 pt-2 text-xs font-medium">/</h1>
    <h1 class="pl-2 pt-2 text-xs font-light">Project</h1>
  </div>
  <!-- Kanan / Profil-->
  <div class="dropdown inline-block relative mb-2">
    <button class="flex w-full">
      <span class="flex mr-1">
        <div class="flex flex-row w-1/5 mb-2">
          <!-- Avatar -->
          <img class="flex w-16 my-auto mr-1" src="/assets/user_avatar.png" alt="">
          <!-- Nama -->
          <div class="flex flex-col my-auto ml-1">
            <h1 class="flex text-sm font-semibold"><%- user.fName %> <%- user.lName %></h1>
            <h1 class="flex text-xs"><%- user.email %></h1>
          </div>
        </div>
      </span>
    </button>
    <ul class="dropdown-menu absolute hidden text-black items-center">
      <li class="justify-center"><a class="w-44 rounded-b-xl hover:bg-green-200 py-2 px-4 block text-sm font-semibold justify-center" href="/signout">Sign Out</a></li>
    </ul>
  </div>
</div>

<!-- Bagian Dashboard Project -->
<div class="flex flex-col items-center w-full bg-[#DEE5D4]"> 
  <!-- Pengumuman -->
  <div class="flex flex-col items-center text-center mt-16">
    <h1 class="flex text-base">You don't have any project yet,</h1>
    <h1 class="flex text-base">Choose one of the options below</h1>
  </div>

  <!-- Create or Join Project -->
  <div class="flex flex-row items-center text-center mt-20">
    <!-- Create Project -->
    <a href="/project/create-new">
      <div class="modal-open flex flex-col w-60 h-60 border-dashed border-4 border-[#9B9B9B] items-center my-auto">
        <div class="flex flex-col items-center my-auto">
          <img class="flex w-14 h-14 mb-4" src="/assets/logo_plus.png" alt="">
          <h1 class="flex justify-center mt-6 text-base text-[#9B9B9B]">Create New Project</h1>
        </div>
      </div>
    </a>
    <h1 class="flex mx-10">or</h1>

    <!-- Join Project -->
    <a href="/project/join-existing">
      <div class="flex flex-col w-60 h-60 border-dashed border-4 border-[#9B9B9B] items-center my-auto">
        <div class="flex flex-col items-center my-auto">
          <img class="flex w-20 h-20 mb-4" src="/assets/logo_add.png" alt="">
          <h1 class="flex justify-center mt-6 text-base text-[#9B9B9B]">Join Project</h1>
        </div>
      </div>
    </a>
  </div>
</div>