<form action="/signin<%- !destination ? `` : `?dest=${destination}` %>" method="post">
  <%- include("./component/messages") %>
  <label for="username">username
    <input type="text" name="username" id="username">
  </label>
  <label for="password">password
    <input type="password" name="password" id="password">
  </label>
  <button id="tombol" type="submit">Sign In</button>
</form>