<h1 class="text-2xl text-red-500">Tab 2 Content</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, doloremque.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, doloremque.</p>