<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/style.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <title>Scrum.in | <%= title %>
  </title>
</head>

<body class="font-['Open_Sans'] flex flex-row">
  <!-- sidebar -->
  <aside class="flex flex-col bg-[#4B6D5F] w-[188px] h-screen">
    <!-- Logo ScrumIn -->
    <div class="h-16 pt-5 justify-center mx-auto">
      <img class="flex items-center justify-center w-[91px]" src="/assets/scrumin_sidebar.png" alt="">
    </div>
    <ul class="flex flex-col pt-5 items-center space-y-3">
      <li class="flex w-full pl-5">
        <a class="flex rounded-s-3xl h-12 text-white font-normal w-full hover:bg-white hover:text-black" href="/dashboard">
          <h1 class="text-xs ml-10 my-auto">Overview</h1>
        </a>
      </li>
      <li class="flex w-full pl-5">
        <a class="flex rounded-s-3xl h-12 text-white font-normal w-full hover:bg-white hover:text-black" href="/project/dashboard">
          <h1 class="text-xs ml-10 my-auto">Project</h1>
        </a>
      </li>
      <li class="flex w-full pl-5">
        <a class="flex rounded-s-3xl h-12 text-white font-normal w-full hover:bg-white hover:text-black" href="">
          <h1 class="text-xs ml-10 my-auto">Schedule</h1>
        </a>
      </li>
      <li class="flex w-full pl-5">
        <a class="flex rounded-s-3xl h-12 text-white font-normal w-full hover:bg-white hover:text-black" href="">
          <h1 class="text-xs ml-10 my-auto">Forum</h1>
        </a>
      </li>
    </ul>
    <!-- button Bawah -->
    <div class="flex flex-col items-center mt-60">
      <hr class="h-px bg-white w-full">
      <div class="flex h-12 justify-center text-white font-normal w-full hover:bg-white hover:text-black"><a class="text-xs m-auto" href="">Invite Team Member</a></div>
      <hr class="h-px bg-white w-full">
      <div class="flex h-12 justify-center text-white font-normal w-full hover:bg-white hover:text-black"><a class="text-xs m-auto" href="">Help</a></div>
    </div>
  </aside>

  <div class="flex flex-col bg-[#DEE5D4] w-full h-screen">
    
    <%- body %>
  </div>

</body>
<!-- <div class="flex w-auto h-auto bg-gray-400 justify-between items-center p-3">
  <h1 class="font-extrabold cursor-pointer">SCRUM.IN</h1>
  <a href="/signout" class="bg-slate-500 p-1 text-slate-100">Sign Out</a>
</div>
<div id="main" class="w-full h-screen flex items-center justify-center flex-col">

</div> -->

</html>

<style>
  .dropdown:hover .dropdown-menu {
    display: block;
  }
</style>