<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/style.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
  <title>Scrum.in | <%= title %>
  </title>
</head>

<body class="font-open-sans flex flex-row">
  <!-- sidebar -->
  <aside class="flex flex-col bg-[#4B6D5F] justify-between w-[188px] h-screen">
    <!-- Logo ScrumIn -->
    <div class="h-16 pt-5 justify-center mx-auto">
      <img class="flex items-center justify-center w-[91px]" src="/assets/scrumin_sidebar.png" alt="">
    </div>
    <ul class="flex flex-col pt-5 items-center space-y-3">
      <li class="flex w-full pl-5">
        <a class="flex rounded-s-3xl h-12 text-white font-normal w-full hover:bg-white hover:text-black" href="/dashboard">
          <h1 class="text-xs ml-10 my-auto">Overview</h1>
        </a>
      </li>
      <li class="flex w-full pl-5">
        <a class="flex rounded-s-3xl h-12 text-white font-normal w-full hover:bg-white hover:text-black" href="/project/dashboard">
          <h1 class="text-xs ml-10 my-auto">Project</h1>
        </a>
      </li>
      <li class="flex w-full pl-5">
        <a class="flex rounded-s-3xl h-12 text-white font-normal w-full hover:bg-white hover:text-black" href="">
          <h1 class="text-xs ml-10 my-auto">Schedule</h1>
        </a>
      </li>
      <li class="flex w-full pl-5">
        <a class="flex rounded-s-3xl h-12 text-white font-normal w-full hover:bg-white hover:text-black" href="">
          <h1 class="text-xs ml-10 my-auto">Forum</h1>
        </a>
      </li>
    </ul>
    <!-- button Bawah -->
    <div class="flex flex-col items-center mt-60">
      <% if (typeof project == 'undefined') { %>

      <% } else { %>

      <hr class="h-px bg-white w-full">
      <div class="modal-open3 flex h-12 justify-center text-white font-normal w-full hover:bg-white hover:text-black">
        <h1 class="text-xs m-auto">Invite Team Member</h1>
      </div>
      <!-- Modal -->
      <div class="modal3 my-20 fixed inset-0 opacity-0 pointer-events-none transition duration-800 w-1/3 m-auto">
        <div class="modal-content3 flex-col bg-white rounded-xl shadow-lg m-auto">
          <div class="flex justify-end pt-4">
            <div class="modal-close3 w-10 justify-end">
              <svg class="hover:cursor-pointer" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z" />
              </svg>
            </div>
          </div>
          <h1 class="font-semibold text-xl mx-auto text-center">Project Invitation</h1>
          <div class="flex flex-col w-full mb-3 p-8">
            <div class="flex flex-col w-full mx-auto mb-2">
              <h1 class="flex text-sm">Role</h1>
            </div>
            <div class="flex flex-row mb-2">
              <div class="w-2/3 flex">
                <select class="border-2 w-64 text-sm h-11 rounded-lg" name="selectRole" id="selectRole">
                  <% roles.forEach(e => { %>
                  <option class="rounded-lg" value="<%= `${e.projectId}/${e.roleId}` %>"><%= e.roleName %></option>
                  <% }) %>
                </select>
              </div>
              <div class="flex bg-[#4B6D5F] ml-7 text-white hover:bg-[#DEE5D4] hover:text-black rounded-lg px-4 text-sm">
                <a id="btnGenerate" class="m-auto" href="#">Generate</a>
              </div>
            </div>
            <div class="flex flex-row w-full mx-auto mt-4 mb-2">
              <div class="flex flex-col">
                <h1 class="flex text-sm mb-2">Link</h1>
                <input id="urlField" class="flex w-80 text-xs rounded-lg h-11 bg-slate-100" readonly type="text">
              </div>
              <div class="flex border ml-7 mt-7 h-9 w-9 text-white hover:bg-[#DEE5D4] hover:text-black rounded-lg text-sm">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="black" class="bi bi-clipboard m-auto" viewBox="0 0 16 16">
                  <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
                  <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
                </svg>
              </div>
            </div>
            <div class="flex flex-row w-full mx-auto mt-4 mb-2">
              <div class="flex flex-col">
                <h1 class="flex text-sm mb-2">Code</h1>
                <input id="codeField" class="flex w-40 text-xs rounded-lg h-11 bg-slate-100" readonly type="text">
              </div>
              <div class="flex border ml-7 mt-7 h-9 w-9 text-white hover:bg-[#DEE5D4] hover:text-black rounded-lg text-sm">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="black" class="bi bi-clipboard m-auto" viewBox="0 0 16 16">
                  <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
                  <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
                </svg>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% } %>
      <hr class="h-px bg-white w-full">
      <div class="flex h-12 justify-center text-white font-normal w-full hover:bg-white hover:text-black">
        <h1 class="text-xs m-auto">Help</h1>
      </div>
    </div>
  </aside>

  <div class="flex flex-col bg-[#DEE5D4] w-full h-screen">

    <%- body %>
  </div>

</body>

</html>

<style>
  .dropdown:hover .dropdown-menu {
    display: block;
  }
</style>

<script>
  // JS untuk buka tutup pop-up
  const modal3 = document.querySelector('.modal3');
  const modalOpen3 = document.querySelector('.modal-open3');
  const modalClose3 = document.querySelector('.modal-close3');

  modalOpen3.addEventListener('click', function() {
    modal3.classList.remove('opacity-0', 'pointer-events-none');
    modal3.classList.add('opacity-100');
  });

  modalClose3.addEventListener('click', function() {
    modal3.classList.remove('opacity-100');
    modal3.classList.add('opacity-0', 'pointer-events-none');
  });


  // js for generate code
  const btnGenerate = document.querySelector("#btnGenerate")
  const selectRole = document.querySelector("#selectRole")
  const codeField = document.querySelector("#codeField")
  const urlField = document.querySelector("#urlField")
  btnGenerate.addEventListener("click", (e) => {
    const [projectId, roleId] = selectRole.value.split("/")
    codeField.value = selectRole.value
    urlField.value = `${window.location.origin}/project/${projectId}/join?role=${roleId}`
  })
  // end of js for generate code
</script>